  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  * {
      border: 0;
      margin: 0;
      padding: 0;
      text-decoration: none;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      transition: 0.5s;
  }

  body {
      background: linear-gradient(270deg, white, rgb(245, 245, 245), white);
      overflow-x: hidden;
      width: 100%;
      height: 100vh;
  }

  html {
      overflow-x: hidden;
  }

  .hero-headder {
      width: 100%;
      height: 100%;
      min-height: 22vh;
  }

  .wrapper {
      width: 1280px;
      max-width: 95%;
      margin: 0 auto;
      padding: 0 20px;
  }

  header {
      padding: 40px 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  .logo {
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }

  .logo .text {
      display: flex;
      font-size: 32px;
      font-weight: 500;
  }

  .nav-links li {
      list-style-type: none;
  }

  .nav-links li {
      display: inline-block;
  }

  .nav-links li a {
      margin-right: 5em;
      color: rgb(39, 147, 255);
  }

  .nav-links li a:hover {
      color: rgb(39, 147, 255);
      transition: 0.2s;
      font-weight: 600;
      text-shadow: 0 0 10px rgb(39, 147, 255),
          0 0 10px rgb(39, 147, 255),
          0 0 40px rgb(39, 147, 255),
          0 0 80px rgb(39, 147, 255),
          0 0 100px rgb(39, 147, 255);
  }

  .theme i {
      font-size: 20px;
      margin-left: 8px;
      cursor: pointer;
      position: absolute;
      right: 6rem;
      top: 3.8rem;
      transform: translate(-50%, -50%);
  }

  .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 35em;
      padding-top: 65px;
  }

  .container .pic {
      width: 310px;
      height: 310px;
      border-radius: 50%;
      overflow: hidden;
  }

  .container .pic img {
      height: 100%;
      width: 100%;
      transition: .5s;
  }

  .intro {
      max-width: 500px;
      display: flex;
      flex-direction: column;
  }

  .intro h4 {
      font-size: 24px;
  }

  .intro h1 {
      font-size: 3rem;
  }

  .intro p {
      font-size: large;
  }

  .icon {
      margin: 45px 0;
  }

  .icon .btn {
      padding: 10px 20px;
      margin: 5px 0;
      color: rgb(39, 147, 255);
      ;
      border-radius: 30px;
      border: 2px solid rgb(39, 147, 255);
  }

  .icon .btn:hover {
      background-color: rgb(39, 147, 255);
      color: white;
      box-shadow: 0 0 10px rgb(39, 147, 255);
  }

  .intro .social {
      display: inline-block;
  }

  .intro .social a i {
      color: rgb(39, 147, 255);
      ;
      font-size: 1.5em;
      padding: 10px 10px;
      border: 1px solid rgb(39, 147, 255);
      border-radius: 50%;
      margin-right: 8px;
  }

  .intro .social a i:hover {
      background-color: rgb(39, 147, 255);
      color: white;
      box-shadow: 0 0 10px rgb(39, 147, 255);
  }

  .nav-icon {
      color: rgb(39, 147, 255);
      width: 2.4rem;
      height: 2.4rem;
      color: black;
  }

  .nav-icon[name="close-outline"] {
      color: rgb(39, 147, 255);
      display: none;
  }

  .navbtn {
      cursor: pointer;
      display: none;
      background: transparent;
  }

  /*  about  */

  .aboutsec {
      width: 1280px;
      max-width: 95%;
      margin: 0 auto;
      padding: 6.5em 20px 0 20px;
  }

  .aboutsec h2 {
      color: rgb(85, 170, 255);
      text-align: center;
      font-size: 40px;
      font-weight: bolder;
      cursor: pointer;
  }

  .aboutsec h2:hover {
      transition: 0.2s;
      font-weight: 600;
      text-shadow: 0 1cqh 12px rgb(39, 147, 255);
  }

  .aboutme {
      width: 1280px;
      max-width: 95%;
      margin: 0 auto;
      padding: 6.5em 20px 100px 20px;
  }

  .myself {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .mypic {
      width: 310px;
      height: 310px;
      border: 5px solid rgb(39, 147, 255);
      border-radius: 1.8em;
      overflow: hidden;
  }

  .mypic img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
  }

  .mypic img:hover {
      transform: scale(2.0);
  }

  .mydata {
      width: 35em;
  }

  .mydata p {
      font-size: 21px;
  }


  /*  skills  */

  .skills {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 20px;
      padding-top: 60px;
      padding-left: 40px;
      padding-right: 40px;
  }

  .skills .skill-bar .info {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
  }

  .skill-bar .bar {
      width: 100%;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.199);
      border-radius: 25px;
      margin-top: 5px;
  }

  .bar span {
      height: 10px;
      position: absolute;
      background: linear-gradient(45deg, rgb(39, 147, 255)0%, rgb(16, 237, 222)100%);
      border-radius: 25px;
  }

  .html {
      width: 32.2%;
      animation: html ease-in .9s;
  }

  .css {
      width: 36.8%;
      animation: css ease-in .9s;
  }

  .git {
      width: 40%;
      animation: git ease-in .9s;
  }

  .js {
      width: 9.2%;
      animation: js ease-in .9s;
  }

  .c {
      width: 39.1%;
      animation: c ease-in .9s;
  }

  .cpp {
      width: 27.6%;
      animation: cpp ease-in .9s;
  }

  .java {
      width: 34.5%;
      animation: java ease-in .9s;
  }

  .dsa {
      width: 32.2%;
      animation: dsa ease-in .9s;
  }

  @keyframes html {
      0% {
          width: 0%;
      }

      100% {
          width: 32.2%;
      }
  }

  @keyframes dsa {
      0% {
          width: 0%;
      }

      100% {
          width: 32.2%;
      }
  }


  @keyframes css {
      0% {
          width: 0%;
      }

      100% {
          width: 36.8%;
      }
  }


  @keyframes git {
      0% {
          width: 0%;
      }

      100% {
          width: 40%;
      }
  }


  @keyframes c {
      0% {
          width: 0%;
      }

      100% {
          width: 39.1%;
      }
  }


  @keyframes cpp {
      0% {
          width: 0%;
      }

      100% {
          width: 27.7%;
      }
  }


  @keyframes java {
      0% {
          width: 0%;
      }

      100% {
          width: 34.5%;
      }
  }


  @keyframes js {
      0% {
          width: 0%;
      }

      100% {
          width: 9.2%;
      }
  }

  /* responsiveness code */

  @media (max-width:1350px) {
      .theme i {
          position: absolute;
          right: 5%;
      }

      .mydata p {
          padding-left: 20px;
      }
  }

  @media (max-width:980px) {
      body {
          width: 100%;
      }

      .theme i {
          display: block;
          position: absolute;
          right: 15%;
      }

      .nav-icon {
          color: rgb(39, 147, 255);
      }

      .navbtn {
          display: block;
          z-index: 999;
          color: black;
      }

      .nav-links {
          width: 50%;
          height: 50vh;
          background: linear-gradient(45deg, white, rgb(156, 240, 255), white);
          border: 1px solid rgb(39, 147, 255);
          border-top: 0px;
          border-bottom-left-radius: 1em;
          box-shadow: 0 0 8px rgb(39, 147, 255);
          position: absolute;
          top: 0;
          right: 0;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          transform: translateX(100%);
          transition: all 0.5s ease linear;

          opacity: 0;
          visibility: hidden;
          display: none;
          pointer-events: none;
      }

      .nav-links li {
          padding: 15px 0px;
      }

      .active .nav-links {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
          z-index: 1;
          display: flex;
      }

      .active .navbtn .nav-icon[name="close-outline"] {
          display: block;
      }

      .active .navbtn .nav-icon[name="menu-outline"] {
          display: none;
      }

      .mydata p {
          padding-top: 50px;
          font-size: 19px;
          padding-left: 20px;
      }

      .aboutme {
          padding-top: 60px;
          padding-bottom: 100px;
      }


  }

  @media (max-width:670px) {

      .container {
          flex-direction: column;
          padding-top: 2em;
          padding-bottom: 0;
      }

      .nav-icon {
          color: rgb(39, 147, 255);
      }

      .container .pic {
          height: 310px;
          width: 270px;
      }

      .container .intro h4 {
          padding-top: 1em;
          font-size: 18px;
      }

      .container .intro h1 {
          font-size: 40px;
      }

      .container .intro p {
          font-size: 15px;
          height: 10px;
      }

      .icon {
          width: 80%;
          font-size: 15px;
      }

      .social a {
          font-size: 13px;
      }

      .theme i {
          position: absolute;
          top: 7.5%;
      }

      .mydata {
          width: 25em;
      }

      .mydata p {
          padding-top: 45px;
          font-size: 17px;
      }

      .aboutsec h2 {
          font-size: 30px;
      }

      .aboutme {
          padding-bottom: 50px;
      }

      .skills {
         display: block;  
      }

      .skill-bar{
        padding-bottom: 15px;
      } 
      
      .html {
        width: 58%;
    }
  
    .css {
        width: 67%;
    }
  
    .git {
        width: 75%;
    }
  
    .js {
        width: 15%;
    }
  
    .c {
        width: 71.5%;
    }
  
    .cpp {
        width: 49%;
    }
  
    .java {
        width: 62.5%;
    }
  
    .dsa {
        width: 58%;
    }
  }

  @media (max-width:560px) {

      .header {
          padding: 2px 1rem;
      }

      header .logo .text p {
          padding-top: 2em;
          font-size: 20px;
      }

      .nav-icon {
          color: rgb(39, 147, 255);
      }

      .navbtn .nav-icon {
          position: absolute;
          right: 13px;
      }

      #toggleDark {
          padding-bottom: 4px;
      }

  }

  @media (max-width:300px) {


      header .logo .text p {
          display: none;
      }

      .container .intro h4 {
          padding-top: 1em;
          font-size: 15px;
      }

      .container .pic {
          width: 180px;
          height: 180px;
      }

      .aboutsec h2 {
          font-size: 30px;
      }

      .aboutme {
          padding-top: 50px;
      }

      .container .intro h1 {
          font-size: 25px;
      }

      .container .intro p {
          font-size: 12px;
          height: 10px;
      }

      .icon {
          width: 80%;
          font-size: 10px;
      }

      .social a {
          font-size: 10px;
      }

      .navbtn .nav-icon {
          position: absolute;
          top: 20px;
          right: 5px;
      }

      .nav-icon {
          color: rgb(39, 147, 255);
      }

      .nav-links li {
          font-size: 15px;
          font-weight: 500;
          margin-left: 75px;
      }

      .theme i {
          position: absolute;
          top: 40px;
          left: 5rem;
      }

      .mypic {
          width: 180px;
          height: 180px;
      }

      .mydata p {
          padding-top: 30px;
          font-size: 16px;
      }

  }